.ContainerCards {
  width: 100%;
  display:flex;

}


.box{






}
.containerCard{justify-content: center;
  display: flex;
  align-items: center;
  margin: 50px auto;}
  .box img{    padding: 10px;
    outline: 10px solid #000;    margin-bottom: 20px;}
    .Cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
    
    .Cards > * {
      flex-basis: calc(30% - 50px);
      margin-bottom: 50px;
    }

.Add {
  background:black;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  height: 40px;

  text-align: center;
  width: 125px;
  

  }


  .Add:hover {
    background:#fff;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
  
    text-align: center;
    width: 125px;
  }